
/* style parts of the legend, the controls and the elements in the stage appropriately */

/* fill up tthe blank images */
body{
	
	background:url("../src/wallpaper/war.jpg");
	background-size: cover;
	margin:0;
	font-family: "Open Sans Condensed", sans-serif;
}

/*
* Form's css
*/
form {
  position: relative;
  width: 250px;
  margin: 0 auto;
  background: rgba(130,130,130,.3);
  padding: 20px 22px;
  border: 1px solid;
  border-top-color: rgba(255,255,255,.4);
  border-left-color: rgba(255,255,255,.4);
  border-bottom-color: rgba(60,60,60,.4);
  border-right-color: rgba(60,60,60,.4);
}
form input, form button {
  width: 212px;
  border: 1px solid;
  border-bottom-color: rgb(255,255,255);
  border-right-color: rgb(60,60,60);
  border-top-color: rgb(60,60,60);
  border-left-color: rgb(80,80,80);
  background-color: rgb(0,0,0);
  background-repeat: no-repeat;
  padding: 8px 24px 8px 10px;
  color: #fff;
  text-shadow: 0 1px 0 rgb(0,0,0);
  margin-bottom: 19px;
}
form button, #register{
  width: 248px;
  margin-bottom: 0;
  color: white;
  text-transform: uppercase;
  background: #225556;
  border-top-color: #9fb5b5;
  border-left-color: #608586;
  border-bottom-color: #1b4849;
  border-right-color: #1e4d4e;
}
form button:hover {background-color: #8e3e8b}

form button:active {
  background-color: red;
}


/*
* Game table's css
*/
#game_table {
	position:relative;
	width: 100%;
	height: 100%;
	background:white;
	border-collapse:collapse;
}
.row, .col {
	border-collapse:collapse;
	border:1px solid black;
}
.Monsters {
  animation: pulse 1s ease infinite;
  /* transition: transform 0.2s; */
}
@keyframes pulse{
	0% {
		transform: scale(1);
	}
	50% {
	    transform: scale(1.2);
	}

	100% {
	    transform: scale(1);
	}
}


/*
* Html's css
*/
img{
	width: 25px;
	height: 25px; 
	display: block;
}
.legend{
	visibility: hidden;
}
.time{
	color:white;
	width:250px;
	height:30px;
	border: 3px solid black;
	visibility: hidden;
	margin-top:-0.7em;
	padding:2px;
	background: url("../src/icons/clock.png") no-repeat;
	background-color: #225556;
	background-size: 30px 30px;
	padding-left: 31px;

}
.controls, #pause, #resume, .score, #restart {
	color:white;
    background-color: #225556;
    border: 3px solid black;
    visibility: hidden;
}
.button {
  padding: 10px 20px;
  color:white;
  background-color: #225556;
  border-radius: 15px;
  box-shadow: 0 3px #999;
}
.button:hover {background-color: #8e3e8b}

.button:active, .move:active {
  background-color: red;
}


#tutorial {
	background-size: cover;
	display:none;
	position: fixed;
	z-index:1;
	padding-top:100px;
	width:100%;
	height:100%;
}

/*
Change the url after click the button
*/
.btn {
    -moz-appearance: button;
    -webkit-appearance: button;
    -ms-appearance: button;
}
